<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Component</title>
</head>
<body>
    <div id='parCom'>
        <h1>Component</h1>
        <ol>
            <todo-item 
                v-for='(item, index) in groceryList'
                v-bind:todo='item'
                v-bind:index='index'
                v-bind:key='index'> <!-- 컴포넌트의 템플릿 --> 
                <!-- todo에 item, index에 index를 동적으로 바인딩하고 index를 key값에 동적 바인딩한다. -->
            </todo-item>
           <h2 @click=''>Total Qauntity: {{totalQuantity}}</h2> <!-- 개수가 바뀌면 동적으로 computed가 감지해 totalQuantity함수를 호출해서 렌더링 -->
                                      <!-- 개수가 바뀌지 않으면 computed는 캐싱한다. -->
        </ol>
    </div>

<script>
Vue.component('todo-item', {
    props: ['todo', 'index'], /* 부모에게서 props로 데이터를 받아옴 */
    template:   `<ul> 
                    {{index}} 
                    <input v-model='todo.quantity'>quantity: {{todo.quantity}}</input> 
                    name: {{todo.text}}
                    <span v-if='todo.quantity === 0'> - SOLD </span>
                </ul>`
});

    var parCom = new Vue ({
        el: '#parCom',
        data: {
            groceryList: [
                { quantity: 2, text: 'A'},
                { quantity: 0, text: 'B'},
                { quantity: 5, text: 'C'},
                { quantity: 3, text: 'D'},
            ]
        },
        computed: {
            totalQuantity() {
                return this.groceryList.reduce((sum, groceryList) => {
                    return Math.floor(sum + groceryList.quantity);
                }, 0);
            }
        },
    });
</script>

</body>
</html>